*.o
*.so
*.a
*.mod
*.lo
*.la
Makefile.in
Makefile
autom4te.cache
*.m4
.deps
.libs
config.*
depcomp
install-sh
libtool
ltmain.sh
missing
compile
configure
*.swp

# Lulesh
lulesh2.0

# Compass output
buCG.txt
contexts.txt
nclones.txt
nsites.txt
*.bc
*.args

# From install_deps.sh
build_deps
deps
